<footer>
    <div class="container-fluid">
        <div class="link-container">
            <a class="footer-link" target="_blank" href="https://github.com/KeithThor">
                <img class="footer-link-icon" src="assets\images\GitHub-Mark-Light-32px.png">
            </a>
            <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/keith-thor/">
                <img class="footer-link-icon" src="assets\images\linkedin-inverted.png">
            </a>
            <a class="footer-link" href="mailto:keithkeethor@gmail.com">
                <img class="footer-link-icon" src="assets\images\icons8-email-open-50.png">
            </a>
        </div>
    </div>
</footer>