<div class="container">
  <div class="row">
      <div class="offset-md-2 col-md-8">
          <h2 class="projects-header">Projects</h2>
          <div class="row project">
              <div class="col-md-12">
                <h3 class="projects-header">MMO Tactical RPG</h3>
                <img class="img-fluid img-thumbnail project-img" src="assets\images\trpg-server.JPG">
                <p>
                  A web application that hosts a massively-multiplayer online tactical RPG where players can battle against
                  one another and AI in battles of up to 6 players in real-time. Builds upon the Tactical Battle Game Console
                  App with real-time chat and movement on a shared world map.
                </p>
                <ul>
                  <li>Built using ASP.NET Core, Angular 5, Entity Framework Core, and MS Sql Server</li>
                </ul>
                <div class="project-buttons-container">
                  <a target="_blank" href="https://game.keiththor.com" class="btn btn-primary project-button">Play</a>
                  <a class="btn btn-secondary project-button" target="_blank" href="https://github.com/KeithThor/trpg-server">View Source Code</a>
                </div>
              </div>
          </div>
          <div class="row project">
            <div class="col-md-12">
              <h3 class="projects-header">Tactical Battle Game Console App</h3>
              <img class="img-fluid img-thumbnail project-img" src="assets\images\trpg-console.JPG">
              <p>
                A turn-based game where the player can battle against an AI using complex spells and abilities that target
                different areas on the battlefield.
              </p>
              <ul>
                <li>Built using Ninject, Json.Net, and MSTest</li>
              </ul>
              <div class="project-buttons-container">
                <a class="btn btn-primary project-button" href="assets\other\TurnBasedRpg.zip" download>Download for Windows</a>
                <a class="btn btn-secondary project-button" target="_blank" href="https://github.com/KeithThor/turn-based-rpg">View Source Code</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>