<div class="container">
  <div class="offset-md-2 col-md-8">
    <h2>About Me</h2>
    <p>
      Hi, I'm Keith. I started out my programming path doing game modding on games such as Warcraft III, Crusader Kings 2, and
      Supreme Commander. The modding tools for those games gave me a glimpse into the benefits of well written code: ease of
      extensibility, maintenance, and readability. Since then, I've been enamored with the idea of following clean coding practices
      to improve my code to hopefully have the same attributes that I appreciated so much when I was modding.
    </p>
    <p>
      My journey into web development didn't start until recently when I started looking into cloud applications. I always knew
      about websites and that there are web developers who build those sites, but I never understood the level of complexity that
      could go into web applications. I love solving complex and difficult problems, which is what attracted me to games in the first
      place. Modding was simply a way for me to add more complexity to a problem I already knew how to solve. When I understood that
      web development wasn't as simple as I thought, it opened a brand new frontier I wanted to explore.
    </p>
  </div>
</div>