<footer>
    <div class="container-fluid">
        <div class="link-container">
            <a class="footer-link" target="_blank" href="https://github.com/KeithThor">
                <img class="footer-link-icon" src="assets\images\GitHub-Mark-Light-32px.png">
            </a>
            <a class="footer-link" target="_blank" href="https://github.com/KeithThor">
                <img class="footer-link-icon" src="assets\images\LI-In-Bug.png">
            </a>
            <a class="footer-link" target="_blank" href="https://github.com/KeithThor">
                <img class="footer-link-icon" src="assets\images\GitHub-Mark-Light-32px.png">
            </a>
            <a class="footer-link" target="_blank" href="https://github.com/KeithThor">
                <img class="footer-link-icon" src="assets\images\GitHub-Mark-Light-32px.png">
            </a>
        </div>
    </div>
</footer>